*{
    padding : 0;
    margin : 0;
    }
    body{
    width: 100%;
    height: 100%;
    background-image: url('background.jpg');
    background-size:cover;
    }
    .top{
    display: flex;
    flex-direction: row;
    justify-content: space-between ;
    height: 80px;
    align-items: center;
    padding: 0px 40px;
    }
    .logo{
    position: relative;
    bottom: -50;
    left: 300px;
    font-size: -70px;
    box-shadow: 1px 1px 11px 5px orangered;
    border: 4px solid orange;
    color:white;
    background-color: red;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sansserif;
    font-size: 65px;
    text-shadow: 2px 2px 2px 4px,rgba(black);
    letter-spacing: 4px;
    }
    .nav{
    position: relative;
    right: -50px;
    }
    a{
    padding: 20px 30px;
    color: white;
    text-decoration: none;
 }
    a:hover{
    text-decoration: underline;
    color:red;
    text-underline-position: under;
    }
    .search{
    font-size: 25px;
    }
    .search i{
    padding: 5px 20px;
    color: white;
    }
    /*****haeding****/
    .heading{
    display:flex;
    justify-content: space-evenly;
    padding-top:65px ;
    align-items: center;
    }
    .right{
    width: 440px;
    height: 440px;
    background-image: url('dosa.jpg');
    background-size: cover;
    box-shadow: 1px 1px 11px 5px orangered;
    border: 4px solid orange;
    border-radius: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    }
    .rigth::before{
    width: 430px;
    height: 430px;
    border:2px solid white;
    content: '';
    position: absolute;
    border-radius: 430px;
    padding: 10px;
    }
    /****left***/
    .left p:nth-child(3){
     color:white;
    font-size: 40px;
    position: relative;
    top: -100px;
    right: -120px;
    letter-spacing: 1px;
    font-family:cursive;
    }
    p{
    color: white;
    position: relative;
    right: -60px;
    font-size: 40px;
    font-family:cursive;
    }
    .left h1{
    font-size: 90px;
    color:red;
    position: relative;
    bottom: 60px;
    left: -20px;
    font-family:cursive;
    }
    .left button{
    width: 150px;
    height: 30px;
    font-size:15px;
    background-color: transparent;
    border-radius: 2px solid white;
    color: white;
    font-family:cursive;
    border-radius: 20px;
    margin: 20px 0px;
    cursor: pointer;
    }
    #food1,#food2{
    background-size: cover;
    width: 100px;
    height: 100px;
    margin: 0px 20px;
    }
    #food1{
    background-image: url('biryani.jpg');
    border-radius: 50px ;
    box-shadow: 1px 1px 11px 5px orangered;
    border: 4px solid orange;
    }
    #food2{
    background-image: url('idli.jpg');
    border-radius: 52px;
    box-shadow: 1px 1px 11px 5px orangered;
    border: 4px solid orange;
    }
    .menu{
    display: flex;
    margin: 0px 100px;
    }
    #menu{
    padding: 25px 0 25px 0;
    }
    #section{
    padding: 25px 0 25px 0;
    text-align: center;
    font-size: 2rem;
    font-family: Verdana;
    }
    h3,h4{
    font-family: 'Courier New', Courier, monospace;
    color: brown;
    }
    #menu_row{
    display: flex;
    padding: 0 100px 0 100px;
    }
    #menu_col{
    box-shadow: 2px 2px 2px #bbb;
    border: 1px solid #bbb;
    background-color: #fff;
    margin: 10px;
    flex: 1;
    }
    #menu_col h2{
    background-color:brown;
    color:white ;
    text-align: center;
    padding: 5px ;
    font-family: cursive;
    }
    body{
    background-image: url('background.jpg');
    }
    img{
    width: 260px;
    height: 300px;
    border-radius: 20px;
    }
    h1{
    color:white;
    }
    .box{
    display:flex ;
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 5px;
    }
    img{
    height: 50px;
    border-radius: 90px;
    align-items: center;
    }
    body{
    background-image: url('background.jpg');
    }
    h3{
    text-align: center;
    font-family: cursive;
    color: white;
    letter-spacing: 1px;
    }
    h4{
    color: white;
    font-family: cursive;
    text-align: center;
    letter-spacing: 1px;
    }
    a{
    text-decoration: none;
    color: skyblue;
    font-weight: 400;
    font-size: 20px;
    }
    body{
    background-image: url('background.jpg');
    }
    h3{
    color: white;
    font-family: cursive;
    letter-spacing: 1px;
    text-align: center;
    position: relative;
    bottom: -180px;
    }
    h2{
    text-align: center;
    color: white;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 30px;
    position: relative;
    bottom: -100px;
    }
    hr{
    position: relative;
    top:135px;
    width:45%;
    } 